%generic_txt {
  font-family: fonts.$primary-font;
  font-style: normal;
  color: fonts.$primary-color;
}
footer {
  background: #232323;
  height: 271px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}
.footer-title {
  @extend%generic_txt;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 3.36px;
  text-transform: uppercase;
}
.footer-text {
  @extend%generic_txt;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  letter-spacing: 1.6px;
}
.icon-container {
  display: flex;
  column-gap: 20px;
}
.icon {
  color: #fff;
}
