@media screen and (max-width: 830px) {
  div.testimonial-container {
    flex-wrap: wrap;
  }
  input.header-input {
    width: 300px;
    max-height: 54px;
  }
  div.header-btn-container {
    max-height: 50px;
  }
  button.header-btn {
    padding: 10px;
  }
}
@media screen and (max-width: 730px) {
  a.main-nav-a {
    display: none;
  }
  h3.main-nav-title {
    font-size: 18px;
  }
}
@media screen and (max-width: 460px) {
  section.why-section {
    flex-wrap: wrap;
  }
  h3.why-main-title {
    font-size: 20px;
  }
  p.why-text {
    font-size: 15px;
    line-height: 16px;
  }
  button.why-btn {
    font-size: 12px;
    line-height: 20px;
    padding: 10px;
  }
  input.header-input {
    width: 150px;
    max-height: 44px;
  }
  input.header-input::placeholder {
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 1px;
  }
  div.header-btn-container {
    max-height: 40px;
  }
  button.header-btn {
    padding: 5px;
    font-size: 10px;
    line-height: 20px;
  }
  svg.search_icon {
    width: 10px;
    padding: 12px;
    height: 10px;
  }
  h1.header-title {
    letter-spacing: 2px;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 20px;
  }
  h3.header-subtitle {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2px;
    text-align: center;
  }
  h2.testimonial-title {
    font-size: 20px;
    line-height: 20px;
  }
  h5.testimonial-name {
    font-size: 16px;
    line-height: 20px;
  }
  p.testimonial-quote {
    font-size: 14px;
    line-height: 20px;
  }
  h6.trip-title {
    font-size: 16px;
    line-height: 20px;
  }
  h4.trip-place {
    font-size: 18px;
    line-height: 20px;
  }
  p.trip-text {
    font-size: 14px;
    line-height: 20px;
  }
  button.trip-btn {
    padding: 5px;
    width: 100px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
  }
}

@media screen and (min-width: 730px) {
  button.menu-icon {
    display: none;
  }
}
